.cards {
    display: flex;
    flex-wrap: wrap;
}
.pointCursor {
    cursor: pointer;
}
.movieCard {
    background-color:rgb(240, 130, 28);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 25%;
    box-sizing: border-box;
}
.photoCard {
    height: 460px;
}
.titleCard {
    height: 80px;
}

.averageRating {
    float: right;
}

.card-container {

    display: flex;
    justify-content: space-between;
  }

b[data-result-val="10"] {
    color: green;
}
.add-button {
    height: 50px;
    width: 75px;
    float:right;
    background-color: rgb(36, 47, 109);
    color: rgb(255, 253, 250);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-color: orange;
}