<div class="cards" fxLayoutAlign="center"  >
<mat-card class="m-2 movieCard" *ngFor="let data of movies"  >
  <div (click)="onClick(data.MovieId)" class="pointCursor">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image titleCard"></div>
      <mat-card-title >{{data.MovieName}}</mat-card-title>
      <mat-card-subtitle>{{data.MovieDirector}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='{{data.MoviePhoto}}' alt="" class="photoCard">
    <mat-card-content>
      <p>
        {{data.MovieDescription}}
      </p>
    </mat-card-content>
  </div>
  </mat-card>
</div>